<p id="notice"><%= notice %></p>

<h1>Filtered Pokemon</h1>

<table>
  <thead>
    <tr>
      <th>Pokemon name</th>
      <th>Despawns at</th>
      <th>Iv value</th>
      <th>Channel</th>
      <th>Coordinates</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Link</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @not_dratini.each do |pokemon_info| %>
      <tr>
        <td><%= pokemon_info.pokemon_name %></td>
        <td><%= pokemon_info.despawns_at.strftime("%I:%M:%S %p") %></td>
        <td><%= pokemon_info.iv_value %></td>
        <td><%= pokemon_info.channel %></td>
        <td><%= pokemon_info.coordinates %></td>
        <td><%= pokemon_info.latitude %></td>
        <td><%= pokemon_info.longitude %></td>
        <td><%= link_to "map", pokemon_info.long_url, target: :_blank %></td>
        <td><%= pokemon_info.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Dratini Section</h1>

<table>
  <thead>
    <tr>
      <th>Pokemon name</th>
      <th>Despawns at</th>
      <th>Iv value</th>
      <th>Channel</th>
      <th>Coordinates</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Link</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @dratini.each do |pokemon_info| %>
      <tr>
        <td><%= pokemon_info.pokemon_name %></td>
        <td><%= pokemon_info.despawns_at.strftime("%I:%M:%S %p") %></td>
        <td><%= pokemon_info.iv_value %></td>
        <td><%= pokemon_info.channel %></td>
        <td><%= pokemon_info.coordinates %></td>
        <td><%= pokemon_info.latitude %></td>
        <td><%= pokemon_info.longitude %></td>
        <td><%= link_to "map", pokemon_info.long_url, target: :_blank %></td>
        <td><%= pokemon_info.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
